body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("./images/disc-background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* need google fonts API */
.title {
font-family: "Luckiest Guy", cursive;
text-align: center;
}

